{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">Detail page</h1>
<div class="row ">
    <div class="col d-flex justify-content-center">
        <div class="card bg-light text-center" style="width: 50rem;">
            <div class="card-body text-capitalize">
                <h3>{{obj.name}}</h3>
                <p>{{obj.price}}</p>
                <p>{{obj.updated}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Category: </p>
        <p>Tags: </p>
    </div>
</div>


{% endblock %}